# development tools
ipython
jupyter
ipywidgets
jupyterlab
matplotlib
ipdb

# deep learning frameworks
torch
torchvision
jax  # [todo] need to install jax[cuda111] for enabling training on GPU
flax
tensorflow-cpu
tensorflow-datasets
